                    <!-- Mainmenu Start -->
<div class="main-menu hidden-xs">
    <nav>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li>
                <a href="room-grid.html">ROOMS</a>
                <ul class="submenu">
                    <li><a href="room-list.html">ROOM LIST</a></li>
                    <li><a href="room-details.html">ROOM DETAILS</a></li>
                </ul>
            </li>
            <li>
                <a href="#">ACTIVITIES</a>
                <ul class="submenu megamenu">
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="location.html">Location</a></li>
                            <li><a href="room-grid.html">Room Grid</a></li>
                            <li><a href="room-list.html">Room List</a></li>
                            <li><a href="room-details.html">Room Details</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="event.html">Event</a></li>
                            <li><a href="#">Mega menu</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Megamenu List</a>
                        <ul>
                            <li><a href="room-list.html">Room List</a></li>
                            <li><a href="#">Mega menu</a></li>
                            <li><a href="room-grid.html">Room Grid</a></li>
                            <li><a href="room-details.html">Room Details</a></li>
                            <li><a href="#">Mega menu</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="location.html">LOCATION</a></li>
            <li><a href="event.html">EVENT</a></li>
            <li><a href="team.html">TEAM</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
    </nav>
</div>
<!-- Mainmenu End -->
        