<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form asp-controller="home" asp-action="SendEmail" method="post" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->